*{
padding:0px;
margin:0px;
}
header{
display:table;
}
#abc{
position: absolute;
font-size:xx-large;
font-weight:1000;
text-align:center;
line-height:600px;
background-color:#54ff9f;
left:20%;
width:80%;
height:100%;
border:2px solid #000000;
}
.button{
border-bottom:2px solid #000000;
type:button;
font-weight:bold;
height:1.5cm;
width:20%;
display:block;
background-color:pink;
}
